<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>★민주동덕★</title>
    <!--  부트스트랩 CSS  -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <!--  커스텀 CSS  -->
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <!--  부트스트랩 JS  -->
    <script th:src="@{/bootstrap.bundle.min.js}"></script>
</head>
<body>
<!-- th:fragment="이름" 으로 공통 태그부분 작성 -->
<div th:fragment="formErrors" class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
    <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
</div>
</body>
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">🤏Dongduk <mark>Women's</mark> University🤏</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">login</a>
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">logout</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/user/signup}">sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/mypage}" >My Page</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>