<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<nav th:replace="layout::nav"></nav>
<body>
<div class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>SignUp</h4>
        </div>
    </div>
    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
        <div th:replace="layout::formErrors"></div>
        <div class="mb-3">
            <label for="username" class="form-label">ID</label>
            <input type="text" th:field="*{username}" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="password" th:field="*{password1}" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Password Check</label>
            <input type="password" th:field="*{password2}" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" th:field="*{email}" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>